<div>
  <mat-button-toggle-group #colorToggle="matButtonToggleGroup" value="primary" aria-label="Change color">
    <mat-button-toggle value="primary"> Primary </mat-button-toggle>
    <mat-button-toggle value="accent"> Accent </mat-button-toggle>
  </mat-button-toggle-group>
  <span class="example-button-toggle-label"> Color </span>
</div>

<div>
  <mat-button-toggle-group #backgroundColorToggle="matButtonToggleGroup" value="primary" aria-label="Change color">
    <mat-button-toggle value="primary"> Primary </mat-button-toggle>
    <mat-button-toggle value="accent"> Accent </mat-button-toggle>
  </mat-button-toggle-group>
  <span class="example-button-toggle-label"> Background Color </span>
</div>

<mat-tab-group [color]="colorToggle.value" [backgroundColor]="backgroundColorToggle.value">
  <mat-tab label="First">
    <mat-card>Simple card1
      <mat-card>Simple card1
        <mat-card>Simple card13
          <form action="/action_page.php">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" placeholder="Username" id="usr" name="username">
            </div>

            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Your Email" id="mail" name="email">
              <div class="input-group-append">
                <span class="input-group-text">@example.com</span>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </mat-card>
      </mat-card>

      <mat-card>Simple card2
        <form action="/action_page.php">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Username" id="usr" name="username">
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Your Email" id="mail" name="email">
            <div class="input-group-append">
              <span class="input-group-text">@example.com</span>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </mat-card>

      <mat-card>Simple card3</mat-card>

      <mat-card>Simple card4</mat-card>
    </mat-card>
  </mat-tab>
  <mat-tab label="Second">
    <mat-card>Simple card5</mat-card>

    <mat-card>Simple card6</mat-card>

    <mat-card>Simple card7</mat-card>

    <mat-card>Simple card8</mat-card>
  </mat-tab>
  <mat-tab label="Third">
    <mat-card>Simple card9</mat-card>

    <mat-card>Simple card10</mat-card>

    <mat-card>Simple card11</mat-card>

    <mat-card>Simple card12</mat-card>
  </mat-tab>
</mat-tab-group>