@import './mediaqueries.scss';

$fontlight: 'LatoWebLight',helvetica;
$fontdefault: 'LatoWebMedium',helvetica;
$fontmedium: 'LatoWeb',helvetica;
$fontbold: 'LatoWebBold',helvetica;

$opensansregular: 'OpenSans-Regular';

$azulescuro: #19286e;
$azul: #0078be;
$verdeagua: #00b3a7;
$verde: #93c83d;

$vermelho: #F04040;
$lilas: #9B3296;