<div class="container">
  <h3>Airplanes</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">codigo</th>
        <th scope="col">modelo</th>
        <th scope="col">Quantidade de passageiros</th>
        <th scope="col">Data de registro</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of AirplanesData">
        <td>{{item.id}}</td>
        <td>{{item.codigo}}</td>
        <td>{{item.modelo}}</td>
        <td>{{item.quantidadePassageiros}}</td>
        <td>{{item.dataRegistro|date:'MM/dd/yyyy'}}</td>
        <td style="display: flex">
            <button type="button" class="btn btn-warning btn-sm" routerLink="/edit/{{item.id}}">Edit</button>
            <button type="button" class="btn btn-danger btn-sm ml-1" (click)="delete(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-success" routerLink="/create">Add Airplane</button>
</div>
