<div class="container">

    <h3>Create Airplane Record</h3>
    
        <div class="form-group">
            <label for="name">Code</label>
            <input type="text" class="form-control" id="codigo" [(ngModel)]="data.codigo" placeholder="Enter Code">
        </div>
        <div class="form-group">
            <label for="age">Model</label>
            <input type="text" class="form-control" id="modelo" [(ngModel)]="data.modelo" placeholder="Enter Model">
        </div>
        <div class="form-group">
            <label for="quantidadePassageiros">Number of passengers</label>
            <input type="text" class="form-control" id="quantidadePassageiros" [(ngModel)]="data.quantidadePassageiros" placeholder="Enter Number of passengers">
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitForm()">Add</button>
        <button type="submit" class="btn btn-warning ml-1" [routerLink]="[ '/list']">Cancel</button>
</div>    
