@import '../../../../padroes_ebsa.scss';

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, .7);
  z-index: 999;

  .preloading-ebsa {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 158px;
    height: 90px;
    margin: auto;
    // background-color: white;
    box-sizing: border-box;
    padding: 15px;

    .ebsa-1 {
      display: block;
      float: left;
      width: 42px;
      height: 100%;
      background: url(../../../../assets/img/loading-images/ebsa-loading-1.png) no-repeat center center;
      background-size: contain;
      transform: rotateX(45deg);
      animation: anRotate 1.7s linear infinite;
    }
    .ebsa-2 {
      display: block;
      float: left;
      width: 42px;
      height: 100%;
      background: url(../../../../assets/img/loading-images/ebsa-loading-2.png) no-repeat center center;
      background-size: contain;
      
      transform: rotateX(0deg);
      animation: anRotate2 1.7s linear infinite;
    }
    .ebsa-3 {
      display: block;
      float: left;
      width: 42px;
      height: 100%;
      background: url(../../../../assets/img/loading-images/ebsa-loading-3.png) no-repeat center center;
      background-size: contain;
      transform: rotateX(60deg);
      animation: anRotate3 1.7s linear infinite;
    }
  }
}

@keyframes anRotate {
  0% {
    transform: rotateX(45deg);
  }
  12.5% {
    transform: rotateX(90deg);
  }
  25% {
    transform: rotateX(135deg);
  }
  37.5% {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(135deg);
  }
  62.5% {
    transform: rotateX(90deg);
  }
  75% {
    transform: rotateX(45deg);
  }
  87.5% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(45deg);
  }
}
@keyframes anRotate2 {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes anRotate3 {
  0% {
    transform: rotateX(60deg);
  }
  16.66% {
    transform: rotateX(120deg);
  }
  33.32% {
    transform: rotateX(180deg);
  }
  42.84% {
    transform: rotateX(120deg);
  }
  66.64% {
    transform: rotateX(60deg);
  }
  83.3% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(60deg);
  }
}
