
<h1>Teste Técnico</h1>
<p>Desenvolvimento FullStack .Net</p>

<ul>
  <li><a href='https://github.com/yakkumo/AirplaneApi'>Api desenvolvida em ASP.NET Core 3.1</a></li>
  <li><a href='https://github.com/yakkumo/AirplaneFront'>Front desenvolvida em Angular 8</a></li>
</ul>

<p>DESCRIÇÃO</p>

<p>O objetivo principal é criar uma aplicação contendo o CRUD completo da tabela Airplane:</p>
 
<p>Campos:</p>
<ul>
<li>⦁	Código do Avião</li>
<li>⦁	Modelo</li>
<li>⦁	Quantidade de passageiros</li>
<li>⦁	Data de criação do registro</li>
</ul>

<p>Tecnologias e patterns obrigatórios:</p>
<ul>
<li>⦁	FRONT-END – Angular 7</li>
<li>⦁	BACK-END - .Net Core / Entity Framework Core / RESTful Api</li>
<li>⦁	PATTERNS – DDD e Injeção de Dependência</li>
</ul> 

<p>*Você pode utilizar frameworks de mercado para os patterns.</p>

<p>O código fonte deverá ser armazenado em um repositório público do github, e enviar o link para análise.</p>

<p>Desejável: Manual de Instalação da aplicação</p>